<!--詳細画面ここから-->
<section class="show">
  <p>Title: <span><%= @book.title %></span><p>
  <p>Body: <span><%= @book.body %></span></p>
</section>
<!--詳細画面ここまで-->

<%= link_to "Edit", edit_book_path(@book) %>
<span>|</span>
<%= link_to "Back", books_path %>