<section class="show">
  <h5>Title: <span><%= @book.title %></span></h5>
  <h5>Body: <span><%= @book.body %></span></h5>
</section>

<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Back", "/books" %>