// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//flash css 
.flash {
  color: green;
  height: 30px;

}

.error-explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.error-explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}

.error-explanation ul {
  padding: 20px 80px;
}

label {
  display: block;
}

textarea {
  margin-bottom: 10px;
}

input {
  display: block;
  margin-bottom: 10px;
}